#container {
    background-color: #161616;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#home_main {
    flex: 2;
    overflow: scroll;
}

#home_main::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
